.dashboard-matriculas-titulo {
  font-weight: normal;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.btn-nova-matricula {
  position: absolute;
  right: 0;
  margin-right: 30px;
  top: 0;
}

@media screen and (max-width: 450px) {
  .btn-nova-matricula {
    position: relative;
    margin: 15px 0;
    display: block;
  }
}
