<div class="po-row">
  <po-divider class="po-md-12" p-label="CRIAR"></po-divider>
</div>
<div class="po-row">
  <app-criar-aluno></app-criar-aluno>
</div>

<!-- <div>
  <h3>Editar</h3>
  <app-editar-aluno
    [aluno]="aluno">
  </app-editar-aluno>
</div> -->


<div class="po-row">
  <po-divider class="po-md-12" p-label="LISTAGEM"></po-divider>
</div>

<div class="po-row">
  <div class="po-md-12">

    <div *ngIf="carregandoAlunos">
      Carregando componente...
    </div>

    <app-grid-aluno
      *ngIf="!carregandoAlunos"
      [alunos]="alunos"
    ></app-grid-aluno>
  </div>
</div>